@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Ubuntu:wght@400;500;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

html {
  scroll-behavior: smooth;
}

.max-width {
  max-width: 1300px;
  padding: 0 80px;
  margin: auto;
}

/* navbar styling */

.navbar {
  position: fixed;
  width: 100%;
  z-index: 999;
  padding: 30px 0;
  /* background: #FA8072; */
  font-family: "Ubuntu", sans-serif;
  transition: all 0.3s ease;
}
.sticky {
  padding: 15px 0;
  background: #fff;
  border-bottom: none;
  box-shadow: 0 1px 10px 0 rgb(0 0 0 / 20%);
}

.navbar .max-width {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar .logo a {
  font-size: 35px;
  font-weight: 600;
  color: #fff;
}
.navbar .logo a span {
  color: #fa8072;
  transition: all 0.3s ease;
}
.sticky .logo a {
  color: rgb(101, 94, 94);
}
.sticky .logo a span {
  color: #fa8072;
}

.navbar .menu li {
  list-style: none;
  display: inline-block;
}

.navbar .menu li a {
  display: block;
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  margin-left: 25px;
  transition: color 0.3s ease;
}

.navbar .menu li a:hover {
  color: #fa8072;
}

.sticky .menu li a {
  color: #fa8072;
}
.sticky .menu li a:hover {
  color: #fa5947;
}

/* menu btn styling */

.menu-btn {
  color: #fa8072;
  font-size: 23px;
  cursor: pointer;
  display: none;
}

/* scroll btn */
.scroll-up-btn {
  position: fixed;
  height: 45px;
  width: 42px;
  background: #fa5947;
  right: 30px;
  bottom: 30px;
  text-align: center;
  color: #fff;
  line-height: 45px;
  z-index: 9999;
  font-size: 30px;
  border-radius: 5px;
  cursor: pointer;
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s ease;
}

.show {
  bottom: 30px;
  opacity: 1;
  pointer-events: auto;
}

/* home section styling */
.home {
  display: flex;
  background: url("./images/ex1.jpg") no-repeat center;
  height: 100vh;
  width: 100%;
  background-size: cover;
  background-attachment: fixed;
  /* filter: blur(2px);
  -webkit-filter: blur(2px); */
  color: #fff;
  min-height: 500px;
  font-family: "Ubuntu" sans-serif;
}

.home .max-width {
  margin: auto 0 auto 40px;
}
.home .home-content .text-1 {
  font-size: 27px;
}

.home .home-content .text-2 {
  font-size: 75px;
  font-weight: 600;
  margin-left: -3px;
}

.home .home-content .text-3 {
  font-size: 40px;
  margin: 5px 0;
}

.home .home-content .text-3 span {
  color: #fa8072;
  font-weight: 600;
}
.home .home-content a {
  display: inline-block;
  background: #fa8072;
  color: #fff;
  font-size: 25px;
  padding: 8px 28px;
  margin-top: 20px;
  border-radius: 4px;
  border: 2px solid #fa8072;
  transition: all 0.3s ease;
  font-weight: bold;
}
.home .home-content a:hover {
  color: #fa8072;
  background: none;
}

/* all similiar styling */
section {
  padding: 100px 0;
}

.about .about-content,
.services .serv-content,
.skills .skills-content,
.contact .contact-content {
  display: flex;
  flex-wrap: wrap;
  align-items: center;

  justify-content: space-between;
}
.about,
.services,
.skills,
.teams,
.experience,
.contact,
footer {
  font-family: "Poppins", sans-serif;
}
section .title {
  position: relative;
  text-align: center;
  font-size: 40px;
  font-weight: 500;
  margin-bottom: 60px;
  padding-bottom: 20px;
  font-family: "Ubuntu", sans-serif;
}

section .title::before {
  content: "";
  position: absolute;
  bottom: 0px;
  left: 50%;
  width: 180px;
  height: 3px;
  background: #111;
  transform: translateX(-50%);
}

section .title::after {
  position: absolute;
  bottom: -12px;
  left: 50%;
  font-size: 20px;
  color: #fa8072;
  background: #fff;
  padding: 5px;
  transform: translateX(-50%);
}

/* about section styling */

.about .title::after {
  content: "Who I am";
}

.about .about-content .left {
  width: 45%;
}

.about .about-content .left img {
  height: 380px;
  width: 330px;
  object-fit: cover;
  border-radius: 5px;
}

.about .about-content .right {
  width: 55%;
}

.about .about-content .right .text {
  font-size: 25px;
  font-weight: 600;
  margin-bottom: 10px;
}

.about .about-content .right span {
  color: #fa8072;
}
.about .about-content .right p {
  text-align: justify;
}

.about .about-content .right a {
  display: inline-block;
  background: #fa8072;
  color: #fff;
  font-size: 18px;
  padding: 3px 18px;
  margin-top: 20px;
  border-radius: 4px;
  border: 2px solid #fa8072;
  transition: all 0.3s ease;
  font-weight: bold;
}

.about .about-content .right a:hover {
  color: #fa8072;
  background: none;
}

/* services or project styling */
.services,
.teams {
  color: #fff;
  background: #3975d0;
}
.services .title::before,
.teams .title::before {
  background: #fff;
}

.services .title::after,
.teams .title::after {
  background: #3975d0;
  content: "Work Done";
}
.pLink {
  color: #fa8072;
  text-decoration: none;
}

.services .serv-content .card {
  width: calc(26% - 25px);
  background: rgb(0 0 0 / 15%);
  text-align: center;
  border-radius: 5px;
  padding: 20px 25px;
  cursor: pointer;
  transition: all 0.3s ease;
}
.services .serv-content .card:hover {
  background: #fa8072;
}
.services .serv-content .card .box {
  transition: all 0.3s ease;
}
.services .serv-content .card:hover .box {
  transform: scale(1.05);
}

.services .serv-content .card i {
  font-size: 50px;
  color: #fa8072;
  transition: color 0.3s ease;
}

.services .serv-content .card:hover i {
  color: #fff;
}

.services .serv-content .card:hover .pLink {
  color: #fff;
}

.services .serv-content .card .text {
  font-size: 25px;
  font-weight: 500;
  margin: 10px 0 7px 0;
}

/* skills section styling */

.skills .title::after {
  content: "What I Know";
}

.skills .skills-content .column {
  width: calc(50% - 30px);
}

.skills .skills-content .left .text {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 10px;
}
.skills .skills-content .left p {
  text-align: justify;
}
.skills .skills-content .left a {
  display: inline-block;
  background: #fa8072;
  color: #fff;
  font-size: 18px;
  padding: 3px 18px;
  margin-top: 20px;
  border-radius: 4px;
  border: 2px solid #fa8072;
  transition: all 0.3s ease;
  font-weight: bold;
}
.skills .skills-content .left a:hover {
  color: #fa8072;
  background: none;
}

.skills .skills-content .right .bars {
  margin-bottom: 15px;
}
.skills .skills-content .right .info {
  display: flex;
  margin-bottom: 5px;
  align-items: center;
  justify-content: space-between;
}
.skills .skills-content .right .span {
  font-weight: 500;
  font-size: 18px;
}

.skills .skills-content .right .line {
  height: 5px;
  width: 100%;
  background: lightgray;
  position: relative;
}

.skills .skills-content .right .line::before {
  content: "";
  position: absolute;
  height: 100%;

  left: 0;
  top: 0;
  background: #fa8072;
}

.skills .skills-content .right .cjava::before {
  width: 90%;
}
.skills .skills-content .right .cplus::before {
  width: 80%;
}

.skills .skills-content .right .datas::before {
  width: 75%;
}

.skills .skills-content .right .javascript::before {
  width: 80%;
}
.skills .skills-content .right .mysql::before {
  width: 80%;
}

.skills .skills-content .right .html::before {
  width: 90%;
}
.skills .skills-content .right .react::before {
  width: 85%;
}
.skills .skills-content .right .nodejs::before {
  width: 80%;
}
.skills .skills-content .right .angular::before {
  width: 75%;
}
.skills .skills-content .right .python::before {
  width: 70%;
}

/* teams section styling */

.teams .title::after {
  content: "What I learn";
}

.teams .carousel .card {
  background: rgb(0 0 0 / 20%);
  border-radius: 5px;
  padding: 25px 25px;
  text-align: center;
  transition: all 0.3s ease;
}

.teams .carousel .card:hover {
  background: #fa8072;
}

.teams .carousel .card .box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: all 0.3s ease;
}
.teams .carousel .card:hover .box {
  transform: scale(1.05);
}
.teams .carousel .card .text {
  font-size: 25px;
  font-weight: 500;
  margin: 10px 0 7px 0;
}

.teams .carousel .card i {
  height: 150px;
  width: 150px;
  font-size: 107px;
  object-fit: cover;
  border-radius: 50%;
  border: 4px solid #fa8072;
  transition: all 0.3s ease;
  /* align-items: center; */
  padding: 18px;
}

.teams .carousel .card:hover i {
  border-color: #fff;
}

.owl-dots {
  text-align: center;
  margin-top: 20px;
}

.owl-dot {
  height: 13px;
  width: 13px;
  margin: 0 5px;
  outline: none !important;
  border-radius: 50%;
  border: 2px solid #fa8072 !important;
  transition: all 0.3s ease;
}

.owl-dot.active {
  width: 35px;
  border-radius: 14px;
}

.owl-dot:hover {
  background: #fa8072 !important ;
}

/* experience styling */
.experience .title::after {
  content: "What I Know";
}

/* experience timeling */
/* The actual timeline (the vertical ruler) */
.timeline {
  position: relative;
  max-width: 1200px;
  margin: 0 auto;
}

/* The actual timeline (the vertical ruler) */
.timeline::after {
  content: "";
  position: absolute;
  width: 6px;
  background-color: white;
  top: 0;
  bottom: 0;
  left: 50%;
  margin-left: -3px;
  background: #3975d0;
}

/* Container around content */
.container {
  padding: 10px 40px;
  position: relative;
  background-color: inherit;
  width: 50%;
  box-shadow: 0 1px 10px 0 rgb(0 0 0 / 20%);
}

/* The circles on the timeline */
.container::after {
  content: "";
  position: absolute;
  width: 25px;
  height: 25px;
  right: -17px;
  background-color: white;
  border: 4px solid #ff9f55;
  top: 15px;
  border-radius: 50%;
  z-index: 1;
}

/* Place the container to the left */
.left {
  left: 0;
}

/* Place the container to the right */
.right {
  left: 50%;
}

/* Add arrows to the left container (pointing right) */

/* Fix the circle for containers on the right side */
.right::after {
  left: -16px;
}

/* The actual content */
.content {
  padding: 20px 30px;
  background-color: white;
  position: relative;
  border-radius: 6px;
  text-align: justify;
}

/* contact section styling */
.contact .title:after {
  content: "Get in Touch";
}
.contact .contact-content .column {
  width: calc(50% - 30px);
}
.contact .contact-content .text {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 10px;
}

.contact .contact-content .left p {
  text-align: justify;
}

.contact .contact-content .left .icons {
  margin: 10px 0;
}

.contact .contact-content .row {
  display: flex;
  height: 65px;
  align-items: center;
}

.contact .contact-content .row .info {
  margin-left: 30px;
}

.contact .contact-content .row i {
  font-size: 25px;
  color: #fa8072;
}

.contact .contact-content .row .info .head {
  font-weight: 500;
}

.contact .contact-content .row .info .sub-title {
  color: #333;
}

.contact .right form .fields {
  display: flex;
}

.contact .right form .field,
.contact .right form .fields .field {
  height: 45px;
  width: 100%;
  margin-bottom: 15px;
}

.contact .right form .textarea {
  height: 80px;
  width: 100%;
}

.contact .right form .name {
  margin-right: 10px;
}
.contact .right form .email {
  margin-left: 10px;
}

.contact .right form .field input,
.contact .right form .textarea textarea {
  height: 100%;
  width: 100%;
  border: 1px solid lightgray;
  border-radius: 5px;
  outline: none;
  padding: 0 15px;
  font-size: 17px;
  font-family: "Poppins" sans-serif;
}
.contact .right form .textarea textarea {
  padding-top: 10px;
  resize: none;
}
.contact .right form .button {
  height: 47px;
  width: 170px;
}

.contact .right form .button button {
  width: 100%;
  height: 100%;
  border: 2px solid #fa8072;
  background: #fa8072;
  color: #fff;
  font-size: 20px;
  border-radius: 6px;
  transition: all 0.3s ease;
}
.contact .right form .button button:hover {
  cursor: pointer;
  color: #fa8072;
  background: none;
}

.allmedia {
  display: flex;
  justify-content: center;
}
.social {
  margin: 5px;
}

/* footer styling */

footer {
  background: #111;
  padding: 20px 23px;
  color: #fff;
  text-align: center;
}

footer span a {
  color: #fa8072;
  text-decoration: none;
}

footer span a:hover {
  text-decoration: underline;
}

/* responsive styling  */

@media (max-width: 1300px) {
  .home .max-width {
    margin-left: 0px;
  }
}

@media (max-width: 1104px) {
  .about .about-content .left img {
    height: 320px;
    width: 270px;
  }
}

@media (max-width: 991px) {
}

@media (max-width: 947px) {
  .max-width {
    padding: 0 50px;
  }
  .menu-btn {
    display: block;
    z-index: 999;
  }
  .menu-btn i.active:before {
    content: "\f00d";
  }
  .navbar .menu {
    position: fixed;
    height: 100vh;
    width: 100%;
    left: -100%;
    top: 0;
    background: rgba(0, 0, 0, 0.8);
    backdrop-filter: blur(5px);
    color: #fff;
    text-align: center;
    padding: 80px;
    transition: all 1.4s ease;
  }
  .navbar .menu.active {
    left: 0;
  }

  .navbar .menu li {
    display: block;
  }
  .navbar .menu li a {
    display: inline-block;
    margin: 20px 0;
    font-size: 25px;
    color: #fff;
  }
  .home .home-content .text-2 {
    font-size: 70px;
  }

  .home .home-content .text-3 {
    font-size: 35px;
  }
  .max-width {
    max-width: 800px;
  }

  .about .about-content .column {
    width: 100%;
  }

  .about .about-content .left {
    display: flex;
    justify-content: center;
    margin: 0 auto 60px;
  }
  .about .about-content .right {
    flex: 100%;
  }
  .services .serv-content .card {
    width: calc(50% - 10px);
    margin-bottom: 20px;
  }
  .skills .skills-content .column,
  .contact .contact-content .column {
    width: 100%;
    margin-bottom: 25px;
  }
}

@media (max-width: 690px) {
  .max-width {
    padding: 0 23px;
  }

  .home .home-content .text-2 {
    font-size: 60px;
  }

  .home .home-content .text-3 {
    font-size: 32px;
  }
  .services .serv-content .card {
    width: 100%;
  }
}

@media (max-width: 595px) {
  .home .home-content .text-2 {
    font-size: 50px;
  }

  .home .home-content .text-3 {
    font-size: 28px;
  }
  /* Place the timelime to the left */
  .timeline::after {
    left: 31px;
  }

  /* Full-width containers */
  .container {
    width: 100%;
    padding-left: 70px;
    padding-right: 25px;
  }

  /* Make sure that all arrows are pointing leftwards */
  .container::before {
    left: 60px;
    border: medium solid white;
    border-width: 10px 10px 10px 0;
    border-color: transparent white transparent transparent;
  }

  /* Make sure all circles are at the same spot */
  .left::after,
  .right::after {
    left: 15px;
  }

  /* Make all right containers behave like the left ones */
  .right {
    left: 0%;
  }
}

@media (max-width: 501px) {
  .home .home-content .text-1 {
    font-size: 24px;
    text-align: center;
  }
  .home .home-content .text-2 {
    text-align: center;
    font-size: 50px;
  }

  .home .home-content .text-3 {
    text-align: center;
    font-size: 28px;
  }
  .home .home-content {
    text-align: center;
  }
  .home .home-content a {
    font-size: 20px;
    padding: 5px 21px;

    border: 3px solid #fa8072;
  }
  .content {
    padding: 20px 0px;
  }
}
